---
layout: page
---

    {% for post in site.posts limit:1 %}    

    <div class="row" id="banner">
        <div class="show-for-medium-up medium-6 columns">
            <a href="{{ site.baseurl }}{{ post.url }}"> 
                {% if post.thumbnail %}
                    <img alt="{{ post.title }}" src="{{ site.baseurl }}{{ post.thumbnail }}" align="center" />
                {% else %}
                    <img src="{{ site.baseurl }}/assets/img/dummy.jpg" align="center" />
                {% endif %}
            </a>
        </div>
        <div class="show-for-medium-up medium-6 columns">
            <a href="{{ site.baseurl }}{{ post.url }}"><h4>{{ post.title }}</h4></a>
            <p>
               {{ post.excerpt | truncate:200 }}
            </p>
            <p>{{ post.date | date_to_string }} | {{ post.author }}</p>
        </div>
    </div>

    {% endfor %}

    <div class="row">
        
        <div id=cine></div>
        <div class="small-12 columns">
            <h2>Cine</h2>
        </div>
        <hr>

        <ul class="small-block-grid-1 medium-block-grid-4">
        
            {% for post in site.categories.cine limit:5 %}
        
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"> 
                        {% if post.thumbnail %}
                            <img alt="{{ post.title }}" src="{{ site.baseurl }}{{ post.thumbnail }}" align="center" />
                        {% else %}
                            <img src="{{ site.baseurl }}/assets/img/dummy.jpg" align="center" />
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"><h4>{{ post.title }}</h4></a>
                    <p>
                       {{ post.excerpt | truncate:140 }}
                    </p>
                </li>
        
            {% endfor %}

        </ul>

        <br>
        <div id="musica"></div>
        <h2>Música</h2>
        <hr>

        <ul class="small-block-grid-1 medium-block-grid-4">
        
            {% for post in site.categories.musica limit:5 %}
        
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"> 
                        {% if post.thumbnail %}
                            <img alt="{{ post.title }}" src="{{ site.baseurl }}{{ post.thumbnail }}" align="center" />
                        {% else %}
                            <img src="{{ site.baseurl }}/assets/img/dummy.jpg" align="center" />
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"><h4>{{ post.title }}</h4></a>
                    <p>
                       {{ post.excerpt | truncate:140 }}
                    </p>
                </li>
        
            {% endfor %}

        </ul>

        <br>
        <div id="letras"></div>
        <h2>Letras</h2>
        <hr>

        <ul class="small-block-grid-1 medium-block-grid-4">
        
            {% for post in site.categories.letras limit:5 %}
        
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"> 
                        {% if post.thumbnail %}
                            <img alt="{{ post.title }}" src="{{ site.baseurl }}{{ post.thumbnail }}" align="center" />
                        {% else %}
                            <img src="{{ site.baseurl }}/assets/img/dummy.jpg" align="center" />
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"><h4>{{ post.title }}</h4></a>
                    <p>
                       {{ post.excerpt | truncate:140 }}
                    </p>
                </li>
        
            {% endfor %}

        </ul>
        
        <br>
        <div id="graphique"></div>
        <h2>Graphique</h2>
        <hr>

        <ul class="small-block-grid-1 medium-block-grid-4">
        
            {% for post in site.categories.graphique limit:5 %}
        
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"> 
                        {% if post.thumbnail %}
                            <img alt="{{ post.title }}" src="{{ site.baseurl }}{{ post.thumbnail }}" align="center" />
                        {% else %}
                            <img src="{{ site.baseurl }}/assets/img/dummy.jpg" align="center" />
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}"><h4>{{ post.title }}</h4></a>
                    <p>
                       {{ post.excerpt | truncate:140 }}
                    </p>
                </li>
        
            {% endfor %}

        </ul>
    </div>