		<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
		<footer class="footer">
		  <div class="row">
		    <div class="small-12 medium-6 medium-push-6 columns">
		    </div>
		    <div class="small-12 medium-6 medium-pull-6 columns">
		      <p class="logo hide-for-small-only">Dodecaedro MX</p> 
		      <p class="footer-links">
		        <a href="#">Inicio</a>
		        <a href="#">Sobre Nosotros</a>
		        <a href="#">Contacto</a>
		      </p>
		      <ul class="inline-list social">
		        <a href="#"><i class="fi-social-facebook"></i></a>
                <a href="#"><i class="fi-social-twitter"></i></a>
                <a href="#"><i class="fi-social-instagram"></i></a>
                <a href="#"><i class="fi-social-youtube"></i></a>
		      </ul>
		      <p class="copywrite"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
		    </div>
		  </div>
		</footer>
	  <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
	</main>
</div>