    <div class="off-canvas-wrap" data-offcanvas>
      <main class="inner-wrap">

        <nav class="tab-bar">
            <div class="row">
                <div class="small-1 columns">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </div>
                <div class="small-10 columns">
                    <a href="/"><h1 id="title">Dodecaedro MX</h1></a>
                </div>
            </div>
        </nav>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <header>
              <ul class="off-canvas-list">
                <li><label>Dodecaedro</label></li>
                <li><a href="#">Cine</a></li>
                <li><a href="#">Música</a></li>
                <li><a href="#">Arte</a></li>
                <li><a href="#">Letras</a></li>
                <li><label>Sobre Nosotros</label></li>
                <li><a href="#">Quiénes Somos</a></li>
                <li><a href="#">Artistas</a></li>
                <li>
                    <a href="http://facebook.com/" target="_blank"><img src="{{ "/assets/img/SVG/facebook-20-x-20.svg" | prepend: site.baseurl }}"/>&nbsp;&nbsp;</a>
                </li>
              </ul>
            </header>
        </aside>
