    <div class="off-canvas-wrap" data-offcanvas>
      <main class="inner-wrap">

        <nav class="tab-bar">
            <div class="row">
                <div class="small-1 columns">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </div>
                <div class="small-10 columns">
                    <a href="/"><h1 id="title">Dodecaedro MX</h1></a>
                </div>
            </div>
        </nav>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <header>
              <ul class="off-canvas-list">
                <li><label>Dodecaedro</label></li>
                <li><a href="{{ site.url }}{{ base.url }}/#cine">Cine</a></li>
                <li><a href="{{ site.url }}{{ base.url }}/#musica">Música</a></li>
                <li><a href="{{ site.url }}{{ base.url }}/#graphique">Graphique</a></li>
                <li><a href="{{ site.url }}{{ base.url }}/#letras">Letras</a></li>
                <li><label>Sobre Nosotros</label></li>
                <li><a href="#">Quiénes Somos</a></li>
                <li><a href="#">Artistas</a></li>
                <ul class="inline-list social">
                    <br>
                    <a href="#"><i class="fi-social-facebook"></i></a>
                    <a href="#"><i class="fi-social-twitter"></i></a>
                    <a href="#"><i class="fi-social-instagram"></i></a>
                    <a href="#"><i class="fi-social-youtube"></i></a>
                </ul>
              </ul>
            </header>
        </aside>
